<!DOCTYPE html>
<html>
<head>
<title>Diffie Hellman</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<h1 class="title">Diffie-Hellman Key Exchange</h1>

<div class="container">

<div class="inputBox">

<h3>Inputs</h3>

<label>Prime (p)</label>
<input type="number" id="p">

<label>Generator (g)</label>
<input type="number" id="g">

<label>Alice Secret (a)</label>
<input type="number" id="a">

<label>Bob Secret (b)</label>
<input type="number" id="b">

<button onclick="generateDiffie()">Generate</button>

</div>

<div class="outputBox">

<h3>Console Output</h3>

<div id="console"></div>

</div>

</div>

<a class="back" href="/">⬅ Back</a>

<script src="{{ url_for('static', filename='script.js') }}"></script>

</body>
</html>